<html>
<style>
  td input {
    width: 24px;
    text-align: center;
  }

  * {
    box-sizing: border-box;
  }

  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    /* Should be removed. Only for demonstration */
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
</style>
{{template "header.tmpl.html"}}

<body>

  <form action="/calcular" method="post">
    <div class="container">

      <div class="row">
        <div class="column">
          <table>
            <tr>
              <th colspan="10">Linterna Verde</th>
            </tr>

            {{ range $i, $fi := .FormularioBase1.Matriz }}
            <tr>
              {{ range $j, $value := $fi}}

              {{ $name := (printf "%v%v" $i $j) }}

              <td><input disabled name="{{$name}}" type="text" value="{{$value}}" /></td>
              {{ end }}
            </tr>
            {{ end }}

          </table>
        </div>
        <div class="column">
          <table>
            <tr>
              <th colspan="10">Flash</th>
            </tr>
            {{ range $i, $fi := .FormularioBase2.Matriz }}
            <tr>
              {{ range $j, $value := $fi}}

              {{ $name := (printf "%v%v" $i $j) }}
              <td><input disabled name="{{$name}}" type="text" value="{{$value}}" /></td>
              {{ end }}
            </tr>
            {{ end }}
          </table>
        </div>
        <div class="column">
          <table>
            <tr>
              <th colspan="10">Batman</th>
            </tr>

            {{ range $i, $fi := .FormularioBase3.Matriz }}
            <tr>
              {{ range $j, $value := $fi}}

              {{ $name := (printf "%v%v" $i $j) }}

              <td><input disabled name="{{$name}}" type="text" value="{{$value}}" /></td>
              {{ end }}
            </tr>
            {{ end }}

          </table>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <table>
            <tr>
              <th colspan="10">4 Fantasticos</th>
            </tr>

            {{ range $i, $fi := .FormularioBase4.Matriz }}
            <tr>
              {{ range $j, $value := $fi}}

              {{ $name := (printf "%v%v" $i $j) }}

              <td><input disabled name="{{$name}}" type="text" value="{{$value}}" /></td>
              {{ end }}
            </tr>
            {{ end }}

          </table>
        </div>
        <div class="column">
          <table>
            <tr>
              <th colspan="10">Spider-Man</th>
            </tr>
            {{ range $i, $fi := .FormularioBase5.Matriz }}
            <tr>
              {{ range $j, $value := $fi}}

              {{ $name := (printf "%v%v" $i $j) }}
              <td><input disabled name="{{$name}}" type="text" value="{{$value}}" /></td>
              {{ end }}
            </tr>
            {{ end }}
          </table>
        </div>
        <div class="column">
          <table>
            <tr>
              <th colspan="10">Thor</th>
            </tr>

            {{ range $i, $fi := .FormularioBase6.Matriz }}
            <tr>
              {{ range $j, $value := $fi}}

              {{ $name := (printf "%v%v" $i $j) }}

              <td><input disabled name="{{$name}}" type="text" value="{{$value}}" /></td>
              {{ end }}
            </tr>
            {{ end }}

          </table>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <table>
            <tr>
              <th colspan="10">Ingrese la imagen a reconocer</th>
            </tr>

            {{ range $i, $fi := .FormularioInput.Matriz }}
            <tr>
              {{ range $j, $value := $fi}}

              {{ $name := (printf "%v%v" $i $j) }}

              <td><input name="{{$name}}" type="text" value="{{$value}}" /></td>
              {{ end }}
            </tr>
            {{ end }}

          </table>
          <div>
            <input type="submit" value="calcular"> (con *)</div>
        </div>
        <div class="column">
          <table>
            <tr>
              <th colspan="10">Resultado</th>
            </tr>
            {{ range $fi := .FormularioOutput.Matriz }}
            <tr>
              {{ range $value := $fi}}
              <td><input disabled name="00" type="text" value="{{$value}}" /></td>
              {{ end }}
            </tr>
            {{ end }}
          </table>
          <div>
            <input type="submit" value="volver"></div>
        </div>
      </div>

    </div>

  </form>
</body>

</html>