<div class="container">

  <div class="row">
    <div class="column">
      <table>
        <tr>
          <th colspan="10">LINTERNA VERDE</th>
        </tr>
        <tr>
          <td><input disabled name="00" type="text" value="" /></td>
          <td><input disabled name="01" type="text" value="*"/></td>
          <td><input disabled name="02" type="text" value="*"/></td>
          <td><input disabled name="03" type="text" value="*"/></td>
          <td><input disabled name="04" type="text" value="*"/></td>
          <td><input disabled name="05" type="text" value="*"/></td>
          <td><input disabled name="06" type="text" value="*"/></td>
          <td><input disabled name="07" type="text" value="*"/></td>
          <td><input disabled name="08" type="text" value="*"/></td>
          <td><input disabled name="09" type="text" value=""/></td>
        </tr>
        <tr>
          <td><input disabled name="10" type="text" value=""/></td>
          <td><input disabled name="11" type="text" value="*" /></td>
          <td><input disabled name="12" type="text" value="*"/></td>
          <td><input disabled name="13" type="text" value="*"/></td>
          <td><input disabled name="14" type="text" value="*"/></td>
          <td><input disabled name="15" type="text" value="*"/></td>
          <td><input disabled name="16" type="text" value="*"/></td>
          <td><input disabled name="17" type="text" value="*"/></td>
          <td><input disabled name="18" type="text" value="*"/></td>
          <td><input disabled name="19" type="text" value=""/></td>
        </tr>
        <tr>
          <td><input disabled name="20" type="text" value=""/></td>
          <td><input disabled name="21" type="text" value=""/></td>
          <td><input disabled name="22" type="text" value=""/></td>
          <td><input disabled name="23" type="text" value=""/></td>
          <td><input disabled name="24" type="text" value="*"/></td>
          <td><input disabled name="25" type="text" value="*"/></td>
          <td><input disabled name="26" type="text" value=""/></td>
          <td><input disabled name="27" type="text" value=""/></td>
          <td><input disabled name="28" type="text" value=""/></td>
          <td><input disabled name="29" type="text" value=""/></td>
        </tr>
        <tr>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
        </tr>
        <tr>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
        </tr>
        <tr>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
        </tr>
        <tr>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
        </tr>
        <tr>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
        </tr>
        <tr>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
        </tr>
        <tr>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
        </tr>
      </table>
    </div>
    <div class="column">
      <table>
        <tr>
          <th colspan="10">FLASH</th>
        </tr>
        <tr>
          <td><input disabled name="00" type="text" value=""/></td>
          <td><input disabled name="01" type="text" value=""/></td>
          <td><input disabled name="02" type="text" value=""/></td>
          <td><input disabled name="03" type="text" value="*"/></td>
          <td><input disabled name="04" type="text" value="*"/></td>
          <td><input disabled name="05" type="text" value="*"/></td>
          <td><input disabled name="06" type="text" value="*"/></td>
          <td><input disabled name="07" type="text" value=""/></td>
          <td><input disabled name="08" type="text" value=""/></td>
          <td><input disabled name="09" type="text" value=""/></td>
        </tr>
        <tr>
          <td><input disabled name="10" type="text" value=""/></td>
          <td><input disabled name="11" type="text" value=""/></td>
          <td><input disabled name="12" type="text" value="*"/></td>
          <td><input disabled name="13" type="text" value=""/></td>
          <td><input disabled name="14" type="text" value=""/></td>
          <td><input disabled name="15" type="text" value=""/></td>
          <td><input disabled name="16" type="text" value=""/></td>
          <td><input disabled name="17" type="text" value="*"/></td>
          <td><input disabled name="18" type="text" value=""/></td>
          <td><input disabled name="19" type="text" value=""/></td>
        </tr>
        <tr>
          <td><input disabled name="20" type="text" value=""/></td>
          <td><input disabled name="21" type="text" value="*"/></td>
          <td><input disabled name="22" type="text" value=""/></td>
          <td><input disabled name="23" type="text" value="*"/></td>
          <td><input disabled name="24" type="text" value=""/></td>
          <td><input disabled name="25" type="text" value=""/></td>
          <td><input disabled name="26" type="text" value=""/></td>
          <td><input disabled name="27" type="text" value=""/></td>
          <td><input disabled name="28" type="text" value="*"/></td>
          <td><input disabled name="29" type="text" value=""/></td>
        </tr>
        <tr>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value=""/></td>
        </tr>
        <tr>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value=""/></td>
        </tr>
        <tr>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value=""/></td>
        </tr>
        <tr>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value=""/></td>
        </tr>
        <tr>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value=""/></td>
        </tr>
        <tr>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
        </tr>
        <tr>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value="*"/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
          <td><input disabled name="username" type="text" value=""/></td>
        </tr>
      </table>
    </div>
    <div class="column">
      <table>
        <tr>
          <th colspan="10">LINKEDIN</th>
        </tr>
        <tr>
          <td><input disabled name="00" type="text" /></td>
          <td><input disabled name="01" type="text" /></td>
          <td><input disabled name="02" type="text" /></td>
          <td><input disabled name="03" type="text" /></td>
          <td><input disabled name="04" type="text" /></td>
          <td><input disabled name="05" type="text" /></td>
          <td><input disabled name="06" type="text" /></td>
          <td><input disabled name="07" type="text" /></td>
          <td><input disabled name="08" type="text" /></td>
          <td><input disabled name="09" type="text" /></td>
        </tr>
        <tr>
          <td><input disabled name="10" type="text" /></td>
          <td><input disabled name="11" type="text" /></td>
          <td><input disabled name="12" type="text" /></td>
          <td><input disabled name="13" type="text" /></td>
          <td><input disabled name="14" type="text" /></td>
          <td><input disabled name="15" type="text" /></td>
          <td><input disabled name="16" type="text" /></td>
          <td><input disabled name="17" type="text" /></td>
          <td><input disabled name="18" type="text" /></td>
          <td><input disabled name="19" type="text" /></td>
        </tr>
        <tr>
          <td><input disabled name="20" type="text" /></td>
          <td><input disabled name="21" type="text" /></td>
          <td><input disabled name="22" type="text" /></td>
          <td><input disabled name="23" type="text" /></td>
          <td><input disabled name="24" type="text" /></td>
          <td><input disabled name="25" type="text" /></td>
          <td><input disabled name="26" type="text" /></td>
          <td><input disabled name="27" type="text" /></td>
          <td><input disabled name="28" type="text" /></td>
          <td><input disabled name="29" type="text" /></td>
        </tr>
        <tr>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
        </tr>
        <tr>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
        </tr>
        <tr>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
        </tr>
        <tr>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
        </tr>
        <tr>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
        </tr>
        <tr>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
        </tr>
        <tr>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
          <td><input disabled name="username" type="text" /></td>
        </tr>
      </table>
    </div>
  </div>
</div>